*,
html{
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
}

/* div {
    background-color: red;
} */

.container-navbar{
    background-color: gold;
    width: 100%;
    height: 10vh;
}

.ul-navbar{
    display: flex;
    height: 60px;  
    justify-content: center;
    align-items: center;  
}

.li-navbar{
    border: 1px solid black;
    background-color: goldenrod;
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    color: brown;
}

.container-content{
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.img-content{
    width: 25%;
    height: 30%;
}

/* .img-content1{

} */

.container-footer{
    height: 10vh;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size: 40px;
}